@{
  Layout = "_Layout";

  <h1>Eau Claire's Salon</h1>

  <h3>@Html.ActionLink("Add a stylist", "Create", "Stylist")</h3>
  <h3>@Html.ActionLink("See all stylists", "Index", "Stylist")</h3>
  <h3>@Html.ActionLink("Add a client", "Create", "Client")</h3>
  <h3>@Html.ActionLink("See all clients", "Index", "Client")</h3>
}