@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h3>Are you sure you want to delete this?</h3>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<div class="basic">
  @Html.ActionLink("Back to Clients List", "Index")
</div>